<div ng-controller='WrasslerController'>
	<table>
		<tr>
			<th>choose wrassler:</th>
			<th></th>
			<th>Name</th>
			<th>Age</th>
			<th>Finisher</th>
			<th>HP</th>
			<th></th>
			<th></th>
		</tr>

		<tr ng-repeat='wrassler in wrasslers'>
			<td ng-show='view'><button ng-click='choose(wrassler._id); view=!view'>pick me brother!</button></td>
			<td ng-show='view'><img src={{wrassler.img}} alt={{wrassler.name}} height='50' ></td>
			<td ng-show='view'>{{wrassler.name}}</td>
			<td ng-show='view'>{{wrassler.age}}</td>
			<td ng-show='view'>{{wrassler.finisher}}</td>
			<td ng-show='view'>{{wrassler.hp}}</td>
			<td ng-show='view'><button ng-click='view = !view; damage(wrassler._id)'>strike</button></td>
			<td ng-show='view'><button ng-click='view = !view'</td>
		</tr>
	</table>
	<table>
		<tr>
			<th>Your Wrassler:</th>
			<th></th>
			<th>Name</th>
			<th>Age</th>
			<th>Finisher</th>
			<th>HP</th>
			<th></th>
			<th></th>
		</tr>

		<tr>
			<td></td>
			<td><img src={{user.img}} alt={{user.name}} height='50' ></td>
			<td>{{user.name}}</td>
			<td>{{user.age}}</td>
			<td>{{user.finisher}}</td>
			<td>{{user.hp}}</td>
		</tr>
	</table>
	
</div>

<!-- in the controller collect user name and the wrestler data and create a new user that has all the necessary attributes -->